.advantages{
  margin-bottom: 42px;
}

.advantages__items {
  list-style: none;
}

.advantages__item {
  color: $grey-color;
  margin-bottom: 32px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  min-height: 60px;
  margin-bottom: 20px;
  padding-left: 44px;

  &::before {
    content: "";
    background-color: $green-color;
    position: absolute;
    left: -40px;
    width: 60px;
    height: 60px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--leaf {
    &::before {
      background-image: url("../../img/advantage-leaf@1x.png");
    }
  }

  &--powder {
    &::before {
      background-image: url("../../img/advantage-powder@1x.png");
    }
  }

  &--dining {
    &::before {
      background-image: url("../../img/advantage-dining@1x.png");
    }
  }

  &--clock {
    &::before {
      background-image: url("../../img/advantage-clock@1x.png");
    }
  }
}

@media (min-width: $tablet-width) {
  .advantages__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .advantages__item {
    position: relative;
    width: 220px;


    &::after {
      counter-increment: section;
      content: counter(section) " ";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 77px;
      color: #f2f2f2;
      z-index: -1;
      font-size: 87px;
      line-height: 80px;
      font-family: "Oswald", "Arial", sans-serif;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages__items {
    flex-wrap: nowrap;
  }
}
