.button {
  display: inline-block;
  margin: 0;
  padding: 10px 20px;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #68b738;
  cursor: pointer;
}
@media(min-width: $tablet-width){
  .button{
    padding-top: 14px;
    padding-bottom: 16px;
  }
}
