.form {
  font-family: "Oswald", "Arial", sans-serif;
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.form__fieldset-title {
  color: $title-color;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  width: 100%;

  &::after {
    content: "";
    flex-grow: 1;
    min-width: 20px;
    height: 3px;
    margin-right: -20px;
    margin-left: 20px;
    margin-top: 15px;
    background-color: #68b738;
  }
}

.form__actions-text {
  color: $grey-color;
  font-size: 14px;
  line-height: 16px;
  font-family: "Arial", "Oswald", sans-serif;
}

.form__textarea {
  width: 100%;
  min-height: 150px;

  &::placeholder {
    text-transform: uppercase;
  }
}
@media(min-width: $tablet-width) {
  .form__fieldset--border {
    border: 1px solid #ededed;
  }

  .form__fieldset-title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 70px;

    &::before {
      content: "";
      min-width: 30px;
      height: 3px;
      margin-left: -30px;
      margin-right: 40px;
      margin-top: 15px;
      background-color: #68b738;
    }
  }

  .form__fieldset-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    &--add {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .form__actions {
    display: flex;
    justify-content: space-around;
  }
}
@media(min-width: $desktop-width) {
  .form-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .form__fieldset-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: inherit;

    &--add {
      flex-wrap: nowrap;
    }
  }

  .form__fieldset {
    &--border {
      height: 177px;
    }
  }
}
