.promo {
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #63a73a;
  font-family: "Oswald", "Arial", sans-serif;
}

.promo__title {
  color: #ffffff;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
}

.promo__slogan {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
}

@media(min-width: $tablet-width){
  .promo{
    background-image: none;
    background-color: #ffffff;
  }
  .promo__title{
    color: $title-color;
  }
  .promo__slogan{
    color: $title-color;
  }
}
