.promo {
  background-color: #64a83b;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  font-family: "Oswald", "Arial", sans-serif;
  margin-bottom: 22px;
}

.promo__title {
  color: #ffffff;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  margin-bottom: 25px;
}

.promo__slogan {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  margin-bottom: 28px;
}

.promo__image {
  display: block;
  margin: 0 auto 3px;
}

.promo__search {
  width: 280px;
}
@media (min-width: $tablet-width) {
  .promo {
    background-image: none;
    background-color: #ffffff;
    padding-top: 80px;
  }

  .promo__title {
    color: $title-color;
    width: 415px;
    margin: 0 0 41px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    position: relative;
  }

  .promo__slogan {
    position: relative;
    color: $title-color;
    margin: 0 0 44px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }

  .promo__image {
    display: flex;
    margin: 0 auto;
  }
}

.promo__search {
  position: absolute;
  bottom: 543px;
  width: 245px;
  margin: 0 0 0 3px;
  font-size: 20px;
  line-height: 20px;
}
@media (min-width: $desktop-width) {
  .promo {
    position: relative;
    z-index: -2;
    padding: 104px 40px 190px 117px;

    &::before {
      content: "";
      position: absolute;
      top: -89px;
      right: 0;
      width: 50%;
      z-index: -1;
      height: 696px;
      background-color: #63a73a;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-position: left center;
      background-size: cover;
    }
  }
}
