.social__item {
  margin: 0 19px 10px;
}

.social__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 22px 9px 11px 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  list-style: none;
}

.social__link {
  color: $grey-color;
  margin-bottom: 32px;

  &::before {
    content: "";
    display: block;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--vkontakte {
    &::before {
      background-image: url("../../img/icon-vk.svg");
      width: 22px;
      height: 12px;
    }
  }

  &--instagram {
    &::before {
      background-image: url("../../img/icon-insta.svg");
      width: 17px;
      height: 17px;
    }
  }

  &--facebook {
    &::before {
      background-image: url("../../img/icon-fb.svg");
      width: 10px;
      height: 19px;
    }
  }
}

@media (min-width: $tablet-width) {
  .social__list {

    width: 300px;
    padding: 0 20px;
    border: 0;
  }
}
